In [10]:
import pandas as pd


df = pd.read_csv('salaries_by_college_major.csv')

print("Shape:")
print(df.shape)
print("******************************************")
print("")
print("Describe:")
print(df.describe())
print("******************************************")
print("")
print("Info: ")
print(df.info())
print("******************************************")
print("")
print("Columns: ")
print(df.columns)

Shape:
(51, 6)
******************************************

Describe:
       Starting Median Salary  Mid-Career Median Salary  \
count               50.000000                  50.00000
mean             44310.000000               74786.00000
std               9360.866217               16088.40386
min              34000.000000               52000.00000
25%              37050.000000               60825.00000
50%              40850.000000               72000.00000
75%              49875.000000               88750.00000
max              74300.000000              107000.00000

       Mid-Career 10th Percentile Salary  Mid-Career 90th Percentile Salary
count                          50.000000                          50.000000
mean                        43408.000000                      142766.000000
std                         12000.779567                       27851.249267
min                         26700.000000                       96400.000000
25%                         34825.000000                      124250.000000
50%                         39400.000000                      145500.000000
75%                         49850.000000                      161750.000000
max                         71900.000000                      210000.000000
******************************************

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 6 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Undergraduate Major                51 non-null     object
 1   Starting Median Salary             50 non-null     float64
 2   Mid-Career Median Salary           50 non-null     float64
 3   Mid-Career 10th Percentile Salary  50 non-null     float64
 4   Mid-Career 90th Percentile Salary  50 non-null     float64
 5   Group                              50 non-null     object
dtypes: float64(4), object(2)
memory usage: 2.5+ KB
None
******************************************

Columns:
Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

In [5]:
print("isna: ")
print(df.isna())
print("******************************************")
print("")

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')